# This ignores everything except Folders,
# and files with an extension.
*
!*/
!*.*


# Exclude everything in certs
certs/*

# Exclude .exe files
*.exe

# Exclude log files 
*.log

# Exclude fme recover files
*.fmw.recover