{{ define "globals/index.html" }}

{{ template "globals/style_head.html" }}
{{ template "globals/style_body.html" }}

<!-- Transported to html via https://markdowntohtml.com/ -->
<h1 id="hello-friends-">Hello Friends!</h1>
<p>This is my personal website! As I am the best Hackerboy in town and not some lame <em>mediadesign</em> dude, this page is not the prettiest.</p>
<h2 id="things-to-do-">Things to Do:</h2>
<p>These are the things you can do here.</p>
<h3 id="watcher">Watcher</h3>
<p>On this subpage, you can monitor the CPU and Memory Load and spun up Goroutines that are used by this Page/Server.</p>
<h3 id="chat">Chat</h3>
<p>On this subpage, you can create a Chatroom, send other People the link, and you can then chat in real time.</p>
<h3 id="locator">Locator</h3>
<p>On this subpage, you can play a little game, where you need to find a city, using only satelite imagery.</p>
<h3 id="locator-io">Locator-IO</h3>
<p>On this subpage, you can play a little game, where you need to find a city, using only satelite imagery.
Addionally, you do so against somebody else. Therefor you need to Create or Join a Lobby, press <em>Ready</em> and then play.
Currently you can play a few certain regions/city sizes. However the points awareded are not influenced by the size of the area. 
This will be addressed in further releases.</p>

<h3 id="contact">Contact</h3>
<p>It is very likely (that someday) this very application will crash. 
If this happens feel free to contact me at <em>mit.ende@mailbox.org</em><br>
If by even more magic you want to hire me to create some impressive stuff, consider yourself forced to contact me at <em>mit.ende@mailbox.org</em></p>

<h2 id="impressum">Impressum</h2>
<p>Tim Wendel</p>
<p>mit.ende@mailbox.org</p>
{{ end }}