{{ define "globals/index.html" }}

{{ template "globals/style_head.html" }}
{{ template "globals/style_body.html" }}

<!-- Transported to html via https://markdowntohtml.com/ -->
<div style="padding-left:1%">
    <h1 id="hello-friends-">Hello Visitor!</h1>
    <p>My name is Tim and this is my personal website! As I am the best Hackerboy in town and not some lame <em>mediadesign</em> dude, this page is not the prettiest. However, it is the fastest, most reliable and best in all other categories.</p>
    <h5 id="things-to-do-">What you can do here:</h5>
    <p>This page has a few subpages, each dedicated to a somewhat usefull applications.</p>
    <h3 id="watcher">Watcher</h3>
    <p>On this subpage, you can monitor the CPU and Memory Load and spun up Goroutines (this page is build using GO) hat are used by this Page/Server.</p>
    <h3 id="chat">Chat</h3>
    <p>On this subpage, you can create a Chatroom, send other People the link, and you can then chat in real time.</p>
    <h3 id="locator">Locator DEPRECATED</h3>
    <p>On this subpage, you can play a little game, where you need to find a city, using only satelite imagery. Deprecated use Locator-IO instead.</p>

    <h3 id="locator-io">Locator-IO</h3>
    <p>On this subpage, you can play a little game, where you need to find a Location, using only satelite imagery.
    Amazingly, you can do so against somebody else. Do to this you need to Create or Join a Lobby, press <em>Ready</em> and then simply play.
    The rules are simple, click at the location you think is correct, and at the end of a round your are awarded points.
    Currently you can play a few certain regions/city sizes. However the points awareded are not influenced by the size of the area. 
    This will be addressed in further releases.</p>

    <h3 id="contact">Contact</h3>
    <p>If by some unforseen miracle this page crashes, you like this page but want more 'Regions' or you want to support this page 
    consider yourself forced to contact me at <em>mlsch@mailbox.org</em></p>

    <h2 id="impressum">Impressum</h2>
    <p>Tim Wendel</p>
    <p>mlsch@mailbox.org</p>
</div>
{{ end }}