{{ define "locator_io/createLobby.html" }}

<title>{{ .title }}</title>

{{ template "globals/style_head.html" }}
{{ template "globals/style_body.html" }}

<form method="post">
    <label for="roundTime">Choose the length of each guessing round (seconds)</label>
    <input type="number" required min=1 max=60 id="roundTime" name="roundTime" value="30"><br>

    <label for="gameset">Choose a Gameset:</label>

    <select name="gameset" required id="gameset">
      <option value="world">all cities; worldwide</option>
      <option value="large">large cities; worldwide</option>
      <option value="capitals">capitals;worldwide</option>
    </select> 

    <br>
    <input type="submit" value="Submit">
  </form> 

{{ end }}