{{ define "locator_io/game.html" }}

<head>
    <title>{{ .title }}</title>
    {{ template "globals/style_head.html" }}

    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/css/ol.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

    <style>
        .map {
          width: 100%;
          height: 100%;
        }
        .map {
          background: #f8f4f0 ;
        }
      </style>
</head>

<body>   
    {{ template "globals/style_body.html" }}
    <!--
    <button id="clickMe" type="button">Submit Guess!</button> 
    <button id="clickNewGuess" type="button">Next Round!</button>
    <div>
        <h1 style="text-align:left;float:left;" id="city">Ready?</h1>
        <h2 style="text-align:left;float:left;" id="Distanz"></h2>
        <h3 style="text-align:left;float:left;" id="points"></h3>
        <h1 style="text-align:left;float:left;" id="state"></h1>
        <h3 style="text-align:right;float:right;" id="reload"> </h3>
        <progress value="0" max="10" id="progressBar"></progress>
    </div>
        -->

        <div class="container">
            <div class="row"> 
                <div class="col-sm">
                    <h3 id="YourName" type="button">You are: </h3>
                </div>
                <div class="col-sm">
                    <h3 style="text-align:left;float:left;" id="time"></h3>
                </div>             
            </div>

        <div class="container">
            <div class="row"> 
                <div class="col-sm">
                    <button id="clickMe" class="btn btn-primary mx-auto" type="button">Submit Guess!</button>
                </div>
                <div class="col-sm">
                    <h1 style="text-align:left;float:left;" id="city">Ready?</h1>
                </div>
                <div class="col-sm">
                    <h3 style="text-align:left;float:left;" id="points"></h3>
                </div>             
            </div>

            <div class="row">
                <div class="col-sm">
                    <div id="map" class="map"></div>
                </div>
                <div class="col-sm">
                    <canvas id="myChart" width="100%" height="100%"></canvas>
                </div>
            </div>
        </div>

    <!--
    <div style="width: 50%;height: 80%;">
        <div id="map" class="map"></div>
    </div>
    
    <div style="width: 50%;height: 80%;">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    -->
<script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data:  {
                datasets: [
                    {
                    label: '',
                    data: 0,
                    }
                ]
                },
            options: {
            responsive: true,
            plugins: {
                // legend: {
                // position: 'top',
                // },
                title: {
                display: true,
                text: 'Points'
                }
            }
            },
        });

        function flyTo(location, done) {
            const duration = 2000;
            const zoom = map.getView().getZoom();
            let parts = 2;
            let called = false;
            function callback(complete) {
              --parts;
              if (called) {
                return;
              }
              if (parts === 0 || !complete) {
                called = true;
                done(complete);
              }
            }
            map.getView().animate(
              {
                center: location,
                duration: duration,
              },
              callback
            );
            map.getView().animate(
              {
                zoom: zoom - 1,
                duration: duration / 2,
              },
              {
                zoom: zoom,
                duration: duration / 2,
              },
              callback
            );
          };
          
        var conn;
        var message
        var existingLabels = []
        var chartIndex = 0
        var timecounter =setInterval(function(){},1000000)
        var host = document.location.host;
        var path = document.location.pathname;
        // console.log(path, document.location.pathname)
        
        user = {{ .user }}

        if (user===""){
            user = prompt("Please enter your name:", "");
        }

        document.getElementById("YourName").innerHTML = "You are " + user

        // Das hier weils wichtig ist ob https oder nicht.
        // Browser erlauben KEIN downgrad also https zu ws!
        if (location.protocol === 'https:'){
            conn = new WebSocket("wss://" + document.location.host + path + "/ws?user=" + user)
        } else {
            conn = new WebSocket("ws://" + document.location.host + path + "/ws?user=" + user)
        };

        conn.onclose = function (evt) {
            console.log("Closed", evt.data)
        };
        conn.onmessage = function (evt) {
            //message = JSON.parse(JSON.stringify(evt.data))
            message = JSON.parse(evt.data)
            console.log(message)

            // document.getElementById("state").innerHTML = message.state
            document.getElementById("time").innerHTML = message.time
            //timecounter = doTimestuff(message.time)

            clearInterval(timecounter)
            timecounter = setInterval(function () {document.getElementById("time").innerHTML -= 1}, 1000); 

            if (message.status == "location") {
                document.getElementById("city").innerHTML = message.Location
                document.getElementById("points").innerHTML = ""
                solution_layer.getSource().clear()
                
            }
            if (message.status == "review") {

                // document.getElementById("points").innerHTML = JSON.stringify(message.points)
                document.getElementById("points").innerHTML = message.distance +  "km away. -> " + message.awarded + "Points."
                AddDataset();
                AddData();
                AddSolution(message);
                chartIndex++;
            }
        };

               
        var city
        var token = 'pk.eyJ1IjoidGltd2VuZGVsIiwiYSI6ImNraDBoeG9ubTFkd20zMXJydDA5YjR0OXEifQ.uuncQPQVAT2rDxfj81AILw';

        const mb = new ol.layer.Tile({
            source: new ol.source.XYZ({
                url: 'https://api.mapbox.com/styles/v1/mapbox/satellite-v9/tiles/256/{z}/{x}/{y}?access_token=' +
                token
            }),
        });

        const fill = new ol.style.Fill({
            color: "#FF0000",
            });
        const stroke = new ol.style.Stroke({
            color: "#FF0000",
            width: 1.25,
            });
        const styles = [
            new ol.style.Style({
                image: new ol.style.Circle({
                fill: fill,
                stroke: stroke,
                radius: 5,
                }),
                fill: fill,
                stroke: stroke,
            }),
        ];

        point = new ol.Feature({
            geometry: new ol.geom.Point(ol.proj.transform([0,0], 'EPSG:4326', 'EPSG:3857'))
        });

        var layer = new ol.layer.Vector({
            source: new ol.source.Vector({
                features: [point]
            })
        });
        
        var solution_layer = new ol.layer.Vector({
                source: new ol.source.Vector({
                    features: []
                }),
                style: styles[0]
            });

        const select = new ol.interaction.Select({
            layers : [layer],
        });

        const translate = new ol.interaction.Translate({
            features: select.getFeatures(),
        });
        
        const map = new ol.Map({
            interactions: ol.interaction.defaults().extend([select, translate]),
            layers: [mb],
            target: 'map',
            view: new ol.View({
                center: [0, 0],
                zoom: 1,
                }),
        });
        
        // {
                // center: ol.proj.transform({{ .center }}, 'EPSG:4326', 'EPSG:3857'),
                // zoom: {{ .zoom }},
                // maxZoom: {{ .maxZoom }},
                // minZoom: {{ .minZoom }},
                // extent: ol.proj.transformExtent({{ .extent }}, 'EPSG:4326', 'EPSG:3857'),
            /// }),

        map.on('click', function(evt){
            // console.log(ol.proj.transform(evt.coordinate, 'EPSG:3857', 'EPSG:4326'));
            point.setGeometry(new ol.geom.Point(evt.coordinate))
        });

        map.addLayer(layer);
        map.addLayer(solution_layer);
        //- Using a function pointer:
        document.getElementById("clickMe").onclick = function(){
            submitGuess();
        };

        function AddData(){
            // console.log("Add Data called.")
            data = myChart.data;
            data.labels.push(message.Location);
            
            console.log(data.datasets)


            //if (data.datasets.length > 0) {
            var i = 0
            for (let [key, value] of Object.entries(message.points)){
                // data.label = `${key}`;
               
                
                // data.datasets[key].data[i] = `${value}`
                data.datasets.forEach(function (item, index) {
                    if (item.label === `${key}`){
                        x = index
                        // console.log("Found", item, index, x);
                    }
                    
                });

                // x = data.datasets.indexOf(`${key}`)
                // console.log("index of result is: ", x)
                data.datasets[x].data.push(`${value}`)
                i++;
            }
            myChart.update();
        }


        function AddSolution(message){
            solution = new ol.Feature({
                geometry: new ol.geom.Point(ol.proj.transform([message.lng, message.lat], 'EPSG:4326', 'EPSG:3857'))
                });

            solution_layer.getSource().addFeature(solution)
            flyTo(ol.proj.fromLonLat([message.lng, message.lat]), function (){});
        }


        function AddDataset() {
        data = myChart.data;
       // if (data.datasets.length > 0) {
        //console.log(existingLabels)
        // message.points.forEach(val => console.log("VAL:", val));
        for (let [key, value] of Object.entries(message.points)) {
            
                if (existingLabels.includes(`${key}`)) {
                    continue
                }

                existingLabels.push(`${key}`)
                color = getRandomColor()
                // console.log("New Array", arr)
                newDataset = {
                    label: `${key}`,
                    backgroundColor: color,
                    borderColor: color,
                    data: []
                };

                biggest = 0
                data.datasets.forEach(function (item, index) {
                    if (item.data.length > biggest){
                            biggest = item.data.length
                        // console.log("Found", item, index, x);
                    }
                });

                for (i = 1; i < biggest; i++) {
                    newDataset.data.push(0)
                    console.log("Should not run!")
                };

                // console.log("Biggest", biggest)

                myChart.data.datasets.push(newDataset);
                // chart.update();
            };
            myChart.update();
        };

        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++ ) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        function submitGuess(){
            coords = point.getGeometry().getCoordinates()
            coords4326 = ol.proj.transform(coords, 'EPSG:3857', 'EPSG:4326')
            // console.log({"lat":coords4326[0], "long": coords4326[1]})

            x = {"lat":coords4326[1], "long": coords4326[0]}
            conn.send(JSON.stringify(x));
        };

    </script>
</body> 
{{ end }}