{{ define "locator_v2/GameRoom.html" }}

<head>
    <title>{{ .title }}</title>
    {{ template "globals/style_head.html" }}
    
    <style>
        .map {
          width: 98%;
          height: 75%;
        }
        .map {
          background: #f8f4f0 ;
        }
      </style>
      
      
      <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/build/ol.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.9.0/css/ol.css">
</head>
<body>
  {{ template "globals/style_body.html" }}

    <table class="table table-striped table-bordered" style="padding-left:1%">
      <tr>
        <th  scope="col">Distance to Location</th>
        <th  scope="col">Awarded for your Guess</th>
        <th  scope="col">Points</th>
        <th  scope="col">Rounds left</th>
        <th  scope="col"> State</th>
        
      </tr>
      <tr>
        <td id="distance"></td>
        <td id="awarded"></td>
        <td id="points"></td>
        <td id="rounds"></td>
        <td id="status"></td>
      </tr>
    </table>

    <div class="d-flex p-2 d-flex justify-content-between">
      <h1 id="locationteller" style="padding-left:1%">{{ .lobby }} - {{ .user }}</h1>
      <button class="btn btn-primary" style="padding-left:1%" id="submitButton" type="button" disabled>Submit Guess</button>
      <p id="psub"></p>
      <h1 id="countdown"></h1>
    </div>
    
    <div style="padding-left:1% ;paddding-right:1%">
     <div id="map" class="map"></div>
    </div>
    <!--
    <div class="d-flex p-2 d-flex justify-content-between">
      <h1 id="locationteller" style="padding-left:1%">{{ .lobby }} - {{ .user }}</h1>
      <button class="btn btn-primary" style="padding-left:1%" id="submitButton" type="button">Submit Guess</button>
      <h1 id="countdown"></h1>
    </div>
    -->
    <script>
        var user = {{ .user }}
        var center =  {{ .center }}
        var zoom =  {{ .zoom }}
        var maxZoom =  {{ .maxZoom }}
        var minZoom =  {{ .minZoom }}
        var extent = {{ .extent }}
    </script>

    <script src="../../static/js/locator_v2/maprelated.js"></script>
    <script src="../../static/js/locator_v2/ws_related.js"></script>
    
    <script>
        console.log("Entering new Script Blog")
        // console.log(map)
        // console.log(conn)
    </script>

</body>
{{ end }}