{{ define "locator_v2/GameRoom.html" }}

<title>{{ .LobbyID }}</title>

    <h1>GameRoom</h1>
    
    <script>
        var list = document.getElementById('demo');   
        var host = document.location.host;
        var path = document.location.pathname;
      
        // Das hier weils wichtig ist ob https oder nicht.
        // Browser erlauben KEIN downgrad also https zu ws!
        if (location.protocol === 'https:'){
            conn = new WebSocket("wss://" + document.location.host + path + "/ws?user=" + {{ .user }})
        } else {
            conn = new WebSocket("ws://" + document.location.host + path + "/ws?user=" + {{ .user }})
        };

        console.log(conn)

        conn.onopen = function (evt) {
            console.log("Success", conn, evt)
        };
        conn.onclose = function (evt) {
            console.log("Closed", conn, evt)
        };
        conn.onmessage = function (evt) {
            console.log("Message", evt.data)
        };
    </script>
{{ end }}