{{ define "locator_v2/WaitingRoom.html" }}

    <head>
        {{ template "globals/style_body.html" }}

        <title>{{ .title }}</title>

    </head>
    <body>

    {{ template "globals/style_head.html" }}
    <div style="margin:10px">
        <h1>LobbyID: <b>{{ .lobby }}</b></h1>
        <p>You are: {{ .user }}</p>
        <p><b>Game info: </b>{{ .game }}</p>
        <button class="btn btn-primary text-center" id="readybutton" type="button">Start Lobby!</button>
        <h2 id="players"></h2>
        <form id="formAddName"></form>
        <ol id="demo"></ol>

        <script>
            var list = document.getElementById('demo');
            var host = document.location.host;
            var path = document.location.pathname;

            // Das hier weils wichtig ist ob https oder nicht.
            // Browser erlauben KEIN downgrad also https zu ws!
            if (location.protocol === 'https:') {
                conn = new WebSocket("wss://" + document.location.host + path + "/ws?user=" + {{ .user }})
            } else {
                conn = new WebSocket("ws://" + document.location.host + path + "/ws?user=" + {{ .user }})
            }

            console.log(conn)

            conn.onopen = function (evt) {
                console.log("Success", conn, evt)
            };
            conn.onclose = function (evt) {
                // conn.close();
                var entry = document.createElement('li');
                entry.appendChild(document.createTextNode("Connection Closed by Hub!"));
                list.appendChild(entry);
                console.log("Closed", conn, evt)
            };
            conn.onmessage = function (evt) {
                // console.log("Message", evt.data)
                if (evt.data === "consider yourself redirected.") {
                    console.log("Received message:", evt.data)
                    window.location.href = path + "/game?user=" + {{ .user }}

                }
                var entry = document.createElement('li');
                entry.appendChild(document.createTextNode(evt.data));
                list.appendChild(entry);
            };

            document.getElementById("readybutton").onclick = function () {
                conn.send("ready");
                console.log("Send ready message!")
            };
        </script>
    </div>
    </body>
{{ end }}